<script>
	import 'carbon-components-svelte/css/all.css';
	import '$src/newberry.scss';
	import { pageTitle } from '$src/stores';
	import { browser } from '$app/environment';
	const colorArray = ['#4051a3', '#20543e', '#111a2a', '#7ec4e2', '#ad285a', '#925840', '#f16151'];
	const altDarkArray = ['#4051a3', '#20543e', '#111a2a', '#ad285a', '#925840'];
	let colorDark = colorArray[Math.floor(Math.random() * (colorArray.length - 1))];
	let altDark =
		colorDark === '#7ec4e2' || colorDark === '#f16151'
			? altDarkArray[Math.floor(Math.random() * (altDarkArray.length - 1))]
			: colorDark;

	colorDark = '#7ec4e2';
	altDark = '#ad285a';
	$: if (browser) {
		document.body.style.setProperty('--colorDark', colorDark);
		document.body.style.setProperty('--altDark', altDark);
	}
</script>

<svelte:head>
	<title>Newberry Transcribe: {$pageTitle}</title>
</svelte:head>

<slot />

<style>
	:global(body) {
		color: #111a2a;
	}
</style>
