<script>
	import { base } from '$app/paths';
	import titles from '$lib/data/titles.json';

	import { onMount, onDestroy } from 'svelte';
	import Newberry from '$comps/newberry.svelte';
	import {
		Accordion,
		AccordionItem,
		ClickableTile,
		Column,
		Grid,
		Row,
		Search,
		Tile,
		truncate,
		Truncate
	} from 'carbon-components-svelte';
	export let data;
	// console.log(data);

	let newTitles = data.data[0].map((d) => {
		let elements = data.data[1].filter((e) => e.record_id === d.id);
		let title = elements.filter((e) => e.element_id === 50)[0].text;
		let image = elements.filter((e) => e.element_id === 48)[0].text;
		let featured = d.featured;
		return {
			title: title,
			itemid: d.id,
			image: image,
			featured: featured
		};
	});
	let allTitles = [...newTitles, ...titles].sort((a, b) => {
		// if one of the two is not featured, send the featured one to the front; if they're either both featured or both not featured, sort by alpha
		if (a.featured ^ b.featured) return a.featured === 1 ? -1 : 1;
		return a.title > b.title ? 1 : -1;
	});
	// let allTitles = [newTitles, ...titles].filter((f) => f.itemid);
	// console.log('allTitles', allTitles);
	// let shownItems = [''];
	let shownItems = allTitles;
	let searchString = '';
	$: shownItems =
		searchString === ''
			? allTitles.map((t) => t.itemid)
			: allTitles
					.filter(
						(item) =>
							item.title.toLowerCase().includes(searchString.toLowerCase()) ||
							('' + item.itemid).includes(searchString)
					)
					.map((t) => t.itemid);

	// $: console.log('shownItems', shownItems);

	let shadow = false;
	onMount(() => {
		window.onscroll = () => {
			if (window.scrollY > 80) {
				shadow = true;
			} else {
				shadow = false;
			}
		};
	});
</script>

<header>
	<!-- <Newberry /> -->
	<a href="{base}/" target="_blank" rel="noreferrer">
		<Newberry />
	</a>
	<a
		class="headertitle"
		href="https://digital.newberry.org/transcribe"
		target="_blank"
		rel="noreferrer"
	>
		<div class="title-box ">
			<h1 class="fancy-links">Newberry Transcribe</h1>
			<!-- <h4>Reading and Printing User-Contributed Transcriptions</h4> -->
		</div>
	</a>
</header>

<div class={shadow ? 'bg shadow' : 'bg'} />
<div class="wrapper">
	<div class="subtitle">
		<Tile>
			<h3>Reading and Printing User-Contributed Transcriptions</h3>
			<h5>
				Featured here are all crowdsourced transcriptions contributed at Newberry Transcribe – both
				the current set of social activist collections, and the previous, archived set. Select an
				item for a view that’s optimized to read online; to print, use the print icon at upper
				right.
			</h5>
		</Tile>
	</div>

	<div class="srchwrapper">
		<Search bind:value={searchString} />
	</div>
	<Grid>
		<Row padding />
		<Row padding>
			{#each allTitles as title}
				{#if shownItems.includes(title.itemid)}
					<Column sm={8} md={8} lg={4} max={4}>
						<div class="miniwrap" id={title.itemid}>
							<ClickableTile href="{base}/{title.itemid}">
								<div
									class="item-box"
									style="background: url('{title.itemid < 1411
										? 'coverImages/' + title.image
										: title.image}')"
								>
									<div class="item-box-title">
										<Truncate>{title.title}</Truncate>
										<!-- <h3 use:truncate>{title.title}</h3> -->
									</div>
								</div>
								<!-- 
								<div
									class="tile-liner"
									style="background: url('{title.itemid < 1411
										? 'coverImages/' + title.image
										: title.image}')"
								/>
								<div class="tile-slashy">
									<div class="tile-title">
										<h3>{title.title}</h3>
									</div>
								</div> -->
							</ClickableTile>
						</div>
					</Column>
				{/if}
			{/each}
		</Row>
	</Grid>
</div>

<style lang="scss">
	@import '../newberry.scss';
	.item-box {
		width: 100%;
		height: 350px;
		padding: 0;
		margin: 0;
		background-size: cover !important;
		background-position: 50% 50% !important;
	}
	.item-box-title {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		// max-width: 200px;
		min-height: 102px;
		& h3 {
			// display: -webkit-box;
			// -webkit-line-clamp: 4;
			// -webkit-box-orient: vertical;
			// overflow: hidden;
			// height: 150px;
			font-size: 18px !important;
		}
	}
	:global(.item-box-title > *) {
		padding: 16px;
		background-color: var(--colorLight);
		font-size: 18px;
		min-height: 102px;
	}
	:global(.bx--tile:has(.item-box)) {
		padding: 0;
		margin: 0;
	}
	.subtitle {
		color: var(--mulberry);
		margin: 16px;
	}
	.subtitle h5 {
		margin-top: 16px;
	}
	.srchwrapper {
		display: flex;
		padding: 16px;

		// width: 100%;
		position: sticky;
		top: 80px;
		z-index: 850;
	}
	.cover-image {
		width: 100%;
		object-fit: cover;
	}
	.miniwrap {
		// padding: 5px;
		min-height: 350px;
		position: relative;
		box-shadow: 0px 2px 38px rgba(17, 26, 42, 0.2);
	}
	.tile-liner {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: cover !important;
		background-position: 50% 50% !important;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}
	// .tile-slashy {
	// 	--distince: 60%;
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	top: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	background: linear-gradient(
	// 		30deg,
	// 		var(--altDark) 0vw,
	// 		var(--distince),
	// 		rgba(0, 0, 0, 0) var(--distince) 100%
	// 	);
	// 	background-size: cover !important;
	// 	background-position: 50% 50% !important;
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: flex-end;
	// 	align-items: center;
	// }
	.tile-title {
		margin: 16px;
		& h3 {
			max-width: 200px;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
			color: var(--colorLight);
			font-size: 18px;
		}
	}
	.tile-top,
	.tile-desc {
		padding: 16px;
		background: rgba(234, 235, 231, 0.8);
	}
	.tile-title,
	.tile-desc {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.tile-desc {
		height: 50%;
	}
	:global(.miniwrap a) {
		min-height: 350px;
		height: 100%;
	}
	.wrapper {
		width: 60%;
		margin: 100px auto;
	}
	header {
		@include slashy;
		background-attachment: fixed !important;
		height: 75px;
		padding: 0 66px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		z-index: 1000;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		// background: linear-gradient(
		// 	var(--angleDegs),
		// 	var(--colorDark) 0vw var(--distance),
		// 	var(--slashyLight) var(--distance) 100vw
		// );
		// background-attachment: fixed !important;
		& h2 {
			padding: 0px 40px;
		}
	}
	.maintitle {
		padding-left: 200px;
		width: 55%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		& a {
			color: var(--bgDark);
		}
	}
	.headertitle {
		height: 100%;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--altDark);
	}
	@media (max-width: 1050px) {
		header {
			--slashyLight: var(--colorLight) !important;
		}
	}
	@media (min-width: 1051px) {
		header {
			--slashyLight: rgba(0, 0, 0, 0) !important;
		}
	}

	.bg {
		z-index: 0;
		height: 75px;
		width: 100%;
		background: rgba(0, 0, 0, 0);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transition: box-shadow 0.5s;
	}
	.shadow {
		box-shadow: 0px 2px 38px rgba(17, 26, 42, 0.2);
	}
</style>
