<script>
	import 'carbon-components-svelte/css/all.css';
	import Header from '$comps/header.svelte';
	import Titlebar from '$comps/titlebar.svelte';
</script>

<div class="topwrapper">
	<Header />

	<main>
		<Titlebar />
		<slot />
	</main>
</div>

<style>
	main {
		margin: 75px auto;
	}
</style>
