<script>
	import { page } from '$app/stores';
	export let data;
	import { Column, Content, Grid, Row, Tooltip } from 'carbon-components-svelte';
	import { pageTitle } from '$src/stores';
	import titles from '$lib/data/titles.json';
	import { onMount, onDestroy } from 'svelte';

	// console.log('data 4', data.data[4]);
	$: $pageTitle = data.data[2];
	let transcriptions = data.data[1];
	let files = data.data[0].map((f) => {
		f.transcriptions = transcriptions.filter((t) => t.record_id == f.id);
		return f;
	});
	let shadow = false;
	onMount(() => {
		window.onscroll = () => {
			if (window.scrollY > 125) {
				shadow = true;
			} else {
				shadow = false;
			}
		};
	});
</script>

<div class={shadow ? 'bg shadow' : 'bg'} />
<Content>
	<Grid>
		<Row>
			<Column sm={16} md={14} lg={12} max={8}>
				{#each files as d, idx}
					<div class="wrapper">
						<p class="pageid">
							<Tooltip hideIcon triggerText={`pageid: ${d.id}`}>
								<a
									href={`https://digital.newberry.org/transcribe/omeka/files/fullsize/${
										data.data[4][d.id]
									}`}
									target="_blank"
									rel="noreferrer"
								>
									<img
										src={`https://digital.newberry.org/transcribe/omeka/files/fullsize/${
											data.data[4][d.id]
										}`}
										alt="handwritten page"
										class="ttimage"
									/>
								</a>
							</Tooltip>
						</p>
						<p class="text-body">{@html d.transcriptions[0]?.text}</p>
					</div>
				{/each}
			</Column>
		</Row>
	</Grid>
</Content>

<style>
	.bg {
		z-index: 0;
		height: 75px;
		width: 100%;
		background: rgba(0, 0, 0, 0);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transition: box-shadow 0.5s;
	}
	.shadow {
		box-shadow: 0px 2px 38px rgba(17, 26, 42, 0.2);
	}
	:global(.bx--row > *) {
		margin: auto;
	}
	.wrapper {
		margin: 30px auto;
		box-shadow: 0px 2px 38px rgba(17, 26, 42, 0.2);
		padding: 50px;
		position: relative;
		background-color: var(--colorLight);
		/* margin: 60px auto; */
	}
	.text-body {
		margin: 10px 0 30px 0;
		line-height: 30px;
		letter-spacing: 1px;
	}
	.pageid {
		width: 100%;
		/* text-align: right; */
	}
	.ttimage {
		width: 300px;
	}
	:global(.text-body *) {
		letter-spacing: 1px;
	}
	:global(pre) {
		white-space: pre-wrap;
	}
	:global(.bx--tooltip) {
		max-width: 332px !important;
	}
	:global(.bx--tooltip__label) {
		cursor: pointer;
	}
	:global(.bx--btn svg) {
		width: 24px !important;
		height: 24px !important;
	}
	:global(.bx--btn--tertiary) {
		border-color: var(--colorDark) !important;
		color: var(--colorDark) !important;
	}
	:global(.bx--btn--tertiary:hover) {
		background-color: var(--colorDark) !important;
		color: var(--colorLight) !important;
	}
</style>
