<script>
	import 'carbon-components-svelte/css/all.css';
	import Miniheader from '$comps/miniheader.svelte';
</script>

<Miniheader />
<main class="printable">
	<slot />
</main>

<style>
	:global(body:has(.printable)) {
		background: var(--colorLight);
	}
	main {
		margin: 80px auto;
	}
</style>
