<script>
	import { page } from '$app/stores';
	export let data;
	import { pageTitle } from '$src/stores';
	// $: console.log(data);
	import titles from '$lib/data/titles.json';
	import { onMount } from 'svelte';
	// console.log($page.params.item);
	$: $pageTitle = titles.filter((t) => t.itemid == $page.params.item)[0].title;
	let transcriptions = data.data[1];
	let files = data.data[0].map((f) => {
		f.transcriptions = transcriptions.filter((t) => t.record_id == f.id);
		return f;
	});
	const today = new Date();
	onMount(() => {
		window.print();
	});
</script>

<div class="wrapper">
	<p>transcriptions contributed by users as of {today.toLocaleDateString()}</p>
	<h3>{$pageTitle}</h3>
	{#each files as d, idx}
		<p class="pageid">{`pageid: ${d.id}`}</p>
		<p class="text-body">{@html d.transcriptions[0]?.text}</p>
	{/each}
</div>

<style>
	.wrapper {
		width: 50%;
		margin: 30px auto;
		padding: 50px;
		/* margin: 60px auto; */
	}
	.text-body {
		margin: 10px 0 30px 0;
		line-height: 30px;
		letter-spacing: 1px;
	}
	:global(.wrapper *) {
		letter-spacing: 1px;
	}
	:global(pre) {
		white-space: pre-wrap;
	}
	.pageid {
		width: 100%;
		padding: 20px 0 5px 0;
		font-size: 0.85em;
		/* text-align: right; */
	}
	@media print {
		:global(body) {
			background: white;
			color: black;
		}
		.wrapper {
			width: 80%;
			margin: auto;
			padding: 0;
		}
		:global(header) {
			display: none;
		}
		/* .text-body {
			page-break-after: always;
		} */
	}
</style>
