<script>
	import { base } from '$app/paths';
	import { page } from '$app/stores';
	import Printer from 'carbon-icons-svelte/lib/Printer.svelte';
	import { onMount, onDestroy } from 'svelte';
	import Newberry from '$comps/newberry.svelte';
	export let mainpage = false;
	import { Button, ButtonSet } from 'carbon-components-svelte';
	import { colors } from '$src/stores';
	let shadow = false;
	$: bg =
		$page.url.pathname === '/'
			? '--slashyLight: var(--colorLight)'
			: '--slashyLight: rgba(0,0,0,0)';
</script>

<header style={bg}>
	<!-- <Newberry /> -->
	<a href="{base}/" target="_blank" rel="noreferrer" class="svg-link">
		<Newberry />
	</a>
	{#if mainpage}
		<h3 class="headertitle fancy-links">
			<a href="https://digital.newberry.org/transcribe/" target="_blank" rel="noreferrer">
				Newberry Transcribe
			</a>
		</h3>
	{:else}
		<h3 class="disapperer">
			<a href="/" class="fancy-links">Back to Index</a>
		</h3>
		<a
			href="https://digital.newberry.org/transcribe/"
			class="transctitle"
			target="_blank"
			rel="noreferrer"
		>
			<h2 class="fancy-links">Newberry Transcribe</h2>
		</a>
		<Button
			kind="tertiary"
			href="{base}/printable/{$page.params.item}"
			iconDescription="Print-Friendly Version"
			icon={Printer}
			iconSize="32"
		/>
	{/if}
</header>

<style lang="scss">
	@import '../../newberry.scss';
	.disapperer {
		@include slashy;
		width: calc(100% - 500px);
		opacity: 0.01;
		text-align: center;
		transition: 0.3s;
		&:hover {
			opacity: 0.99;
		}
	}

	header {
		@include clashy;
		background-attachment: fixed !important;
		height: 75px;
		padding: 0 66px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		z-index: 1000;
		position: fixed;
		top: 0;
		left: 275px;
		right: 0;
		// background: linear-gradient(
		// 	var(--angleDegs),
		// 	var(--colorDark) 0vw var(--distance),
		// 	var(--slashyLight) var(--distance) 100vw
		// );
		// background-attachment: fixed !important;
		& h2 {
			margin: 0px 40px;
		}
	}
	.maintitle {
		padding-left: 200px;
		width: 55%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		& a {
			color: var(--bgDark);
		}
	}

	.shadow {
		// box-shadow: 0 5px 16px rgb(255 0 0 / 10%);
	}
	.headertitle {
		height: 100%;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	@media (max-width: 1050px) {
		header {
			--slashyLight: var(--colorLight) !important;
		}
	}
	@media (min-width: 1051px) {
		header {
			--slashyLight: rgba(0, 0, 0, 0) !important;
		}
	}
</style>
