<script>
	import { page } from '$app/stores';
	import { base } from '$app/paths';
	import { Button } from 'carbon-components-svelte';
	import ArrowLeft from 'carbon-icons-svelte/lib/ArrowLeft.svelte';
</script>

<header>
	<Button
		href="{base}/{$page.params.item}"
		kind="tertiary"
		iconDescription="Return"
		icon={ArrowLeft}
	/>
</header>

<style>
	header {
		height: 75px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transition: box-shadow 0.5s;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		padding-right: 66px;
	}

	@media print {
		header {
			display: none;
		}
	}
</style>
