<script>
	import { truncate } from 'carbon-components-svelte';
	import { pageTitle } from '$src/stores';
	const today = new Date();
</script>

<div class="titlebar">
	<!-- <div class={shadow ? 'titlebar shadow' : 'titlebar'}> -->
	<p>transcriptions contributed by users as of {today.toLocaleDateString()}</p>
	<h3 use:truncate={{ clamp: 'front' }}>{$pageTitle}</h3>
</div>

<style lang="scss">
	@import '../../newberry.scss';
	.titlebar {
		@include slashy;
		z-index: 900;
		position: sticky;
		top: -25px;
		height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		/* box-shadow: 0 5px 16px rgb(0 0 0 / 10%); */
		& h3 {
			flex-basis: 75px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			width: 100%;
			max-width: 98vw;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	@media (max-width: 1050px) {
		.titlebar {
			top: 50px;
		}
	}
	@media (min-width: 1051px) {
		.titlebar {
			top: -25px;
		}
	}
</style>
