@use 'sass:list';

@mixin slashy {
    background: linear-gradient(
        var(--angleDegs),
        var(--colorLight) 0vw, var(--distance),
        var(--colorDark) var(--distance) 100vw
    );
    background-attachment: fixed !important;
}

@mixin clashy {
    background: linear-gradient(
        var(--angleDegs),
        rgba(0,0,0,0) 0vw, var(--distance),
        var(--colorDark)  var(--distance) 100vw
    );
    background-attachment: fixed !important;
}

@mixin revashy {
    background: linear-gradient(
        var(--angleDegs),
        var(--colorDark) 0vw, var(--distance),
        var(--colorLight) var(--distance) 100vw
    );
    background-attachment: fixed !important;
}

// $colorCodes: #4051a3,#20543e,#111a2a,#7ec4e2,#ad285a,#925840,#f16151;
// $fallbackDark: #4051a3,#20543e,#111a2a,#ad285a,#925840;
@mixin colors {

    --sapphire: #4051a3;
    --parkGreen: #20543e;
    --midnight: #111a2a;
    --granite: #eaebe7;
    --lake: #7ec4e2;
    --sand: #eadcc9;
    --mulberry: #ad285a;
    --tile: #925840;
    --flame: #f16151;
    --lavender: #cdb8d1;

    // --colorDark: rgba(0,0,0,0);
    // --colorDark: #{list.nth($colorCodes, math.random(length($colorCodes)))};
    --colorLight: var(--granite);
    --colorLink: var(--mulberry);

}
body {
    @include slashy;
    @include colors;

    --angleDegs: 210deg;
    --distance: 40vw;
    & a {
        text-decoration: none;
    }
}

// 60|600px, 120|300px, 180, 240, 300, 360

body {
    font-family: 'signifier' !important;
}
h3, h4, h5, h6 {
    font-family: 'StyreneB' !important;
    font-weight: bold;
}
h1, h2 {
    font-family: 'FlechaMM' !important;
}
.bx--grid {
    max-width: none;
}
@font-face {
    font-family: 'FlechaM';
    src: url('/fonts/FlechaM-Regular.woff') format('woff');
}
@font-face {
    font-family: 'signifier';
    src: url('/fonts/signifier-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'StyreneB';
    src: url('/fonts/StyreneB-Regular-Web.woff') format('woff');
}
@font-face {
    font-family: 'FlechaMBl';
    src: url('/fonts/FlechaM-Black.woff') format('woff');
}
@font-face {
    font-family: 'FlechaMBo';
    src: url('/fonts/FlechaM-Bold.woff') format('woff');
}
@font-face {
    font-family: 'FlechaMM';
    src: url('/fonts/FlechaM-Medium.woff2') format('woff2');
}
:global(.fancy-links) {
    color: var(--colorLink) !important;
    text-decoration: none;
    position: relative;
    // background-color: var(--colorLight);
}
:global(.fancy-links::before) {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--colorLink);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
:global(.fancy-links:hover::before) {
    left: 0;
    right: auto;
    width: 100%;
}